---
import Layout from "../layouts/Layout.astro";
import LoginForm from "../components/LoginForm.jsx";
---

<Layout title="Acceso Admin">
  <div id="toaster-container"></div>

  <div class="min-h-[70vh] flex items-center justify-center px-6">
    <LoginForm client:load />
  </div>
</Layout>

<style is:global>
  [data-sonner-toaster] {
    font-family: inherit;
  }
</style>